<!DOCTYPE html>
<html>
  <head>
    <title>Account creation form</title>
    <link rel="stylesheet" href="static/css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <div class="main-block">
    <form action="/">
      <h1>Account creation</h1>
      <fieldset>
        <legend>
          <h3>Account details</h3>
        </legend>
        <div  class="account-details">
          <div><label>Account Name</label><input type="text" name="name" required></div>
          <div><label>Password</label><input type="password" name="name" required></div>
          <div><label>Password</label><input type="text" name="name" required></div>
        </div>
      </fieldset>
      <fieldset>
        <legend>
        </legend>
        <div  class="terms-mailing">
          <div class="checkbox">
            <input type="checkbox" name="checkbox"><span>I accept the <a href="https://www.w3docs.com/privacy-policy">Privacy Policy for W3Docs.</a></span>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="checkbox"><span>I want to recelve personallzed offers by your site</span>
          </div>
      </fieldset>
      <button type="submit" href="/">Submit</button>
    </form>
    </div> 
  </body>
</html>

